body{
    margin:0;
    padding:0;

}
h1,h2,h3,h4,h5,h6{
    color:#363958;
}

button i{
    margin-right: 10px;
}
header .custom-flex,
.services-area .custom-flex{
    display:flex;
    flex-direction: row-reverse;
}
header{
    background:#FFF9F4;
}
header nav .navbar-brand{
    color:#363958;
    font-weight: bold;
}
header nav span{
    color:orange;
}
.nike-nav .navbar-nav .nav-link{
    color:black;
}
.banner-area .first{
    color:#EB7847;
}
.banner-area .last{
    color:#363958;
}
.banner-area h1{
    font-weight: bold;
    font-size: 50px;
}

.banner-area button,
#shoes button,
#formal-shoes button,
.best-selling-shoes button{
    font-size: 14px;
    padding:10px 20px;
    background: #3C4EF0;
    border-radius:8px;
  
}

#shoes .shoe-images,#formal-shoes .shoe-images{
    width:320px;
    height:320px;
    background-color: rgba(224, 223, 223, 0.952) ;
    margin: 5px auto ;
    border-radius: 15px;

}

#formal-shoes .shoe-images{
    background:transparent;
}

#shoes .shoe-images .img-custom,
#formal-shoes .shoe-images .img-custom{
    max-width:260px;
    margin-left: 40px;
    margin-top: 30px;
}

#shoes h5,
#formal-shoes h5{
    font-weight: bold;
}
#shoes .shoes-card-footer,
#formal-shoes .shoes-card-footer{
    border-top:0 !important;
    background-color: #fff !important;
}
#shoes .price,
#formal-shoes .price,
.best-selling-shoes .price{
    color:#FD7E14;
}
.best-selling-shoes img{
    max-width:250px;

}
.best-selling-shoes .shoe-images .img-custom{
    max-width: 200px;
    height:120px;
    margin:20px 10px;
}
.women .shoe-images .img-custom,
.kids .shoe-images .img-custom,
.new-product .shoe-images .img-custom{
    max-width: 200px;
    height:200px;
    /* margin:20px 10px; */
}
.best-selling-shoes .best-sell{
    transition:box-shadow 0.2s;
}
.best-selling-shoes .best-sell:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.397) !important;
}
.follow-us li{
    margin:0 20px;
}
.follow-us li:last-child a{
    color:red;
}
.follow-us i{
    font-size: 35px;

}
/* .follow-us{
    background:#ecf0f1;
} */
.contact-us{
    background:rgb(206, 204, 204);
    max-width: 98% !important;
}
/* .copyright-area {
    color:#fff;
    background:#2c3e50;
} */

@media (min-width: 992px){
    .nike-nav .navbar-nav .nav-link {
       
        padding-left: 2.5rem ;
        
    }
}

@media only screen and (max-width: 576px){
    header .custom-flex,
    .services-area .custom-flex{
        display:block;
    }
    .services-area .small-card{
        text-align: center;
    }
    .services-area .small-card .custom-icon{
        width: 30%;
        margin: 0 auto;

    }
   
    .banner-area .intro-text .text{
        width:100% !important;
    }
    #shoes h2,
    #formal-shoes h2{
        text-align: center;
    }
    #shoes .shoe-images, #formal-shoes .shoe-images{
        width:450px;
    }
    .card-img, .card-img-bottom, .card-img-top {
        width: 75% !important;
    }
  
    #formal-shoes .shoe-images .img-custom {
        max-width: 90%;
        margin-left: 10px;
        margin-top: 10px;
    } 
    #shoes .shoe-images .img-custom
    {
        max-width: 70%;
        margin-left: 50px;
        margin-top: 10px;
    }
    .contact-us{
      
        max-width: 96% !important;
    }
    

}